/* THE LORD IS MY SHEPHERD, I LACK NOTHING */

:root {
  --fallback-font-stack:
    system-ui, -apple-system, BlinkMacSystemFont,'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --dark-background-color: #131312;
  --dark-lines-color: #444140; 
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
 }
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* End of CSS reset */

/* body * {
  border: 1px dotted #523714;
} */

body {
  background-color: var(--dark-background-color);
  color: #dbd7d3;
  font-family: var(--fallback-font-stack);
  display: grid;
  grid-template-columns: 250px 1fr 300px;
  grid-template-rows: 100px 35px 1fr 1fr;
  height: 100vh;
}

header,
.project-nav,
.account-container,
.sidebar-section-name,
.announcement-card,
.trend-user-card,
.logo {
  border-bottom: 1px solid var(--dark-lines-color);
}

.user-welcome-banner,
main {
  border-left: 1px solid var(--dark-lines-color);
}

main {
  border-right: 1px solid var(--dark-lines-color);
}

.logo  {
  grid-column: 1;
  grid-row: 1 / 3;
}

.logo img {
  height: 24px;
  width: auto;
  filter: brightness(80%);
}

.logo div {
  font-size: 1.6rem;
  font-weight: bolder;
  line-height: 1.4rem;
}

header {
  grid-column: 2 / -1;
  grid-row: 1;
  display: grid;
  grid-template-columns: subgrid; 
}

.user-welcome-banner {
  grid-column: 1;
}

.user-welcome-banner > div {
  margin-left: 15px;
}

.welcome-msg {
  font-size: 0.8rem;
}

.user-welcome-banner .user-name {
  font-size: 1.4rem;
  line-height: 1rem;
  font-weight: bolder;
}

.notification-btn {
  grid-column: 2;
}

header > div {
  display: flex;
}

.logo a,
.notification-btn a,
.user-welcome-banner {
  display: flex;
  flex-wrap: nowrap;
}

.user-welcome-banner div:first-child {
  display: flex;
}

main {
  grid-column: 2;
  grid-row: 2 / -1;
  display: grid;
  grid-template-rows: 35px 100vh;
}

.project-nav {
  grid-row: 1;
  display: flex;
  align-items: center;
}

.search-input {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
}

input {
  appearance: none;
  border: none;
  background-color: var(--dark-background-color);
  width: 100%;
}

.articles-grid {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  padding: 15px;
}

.project-card {
  border: 1px solid gray;
}

.menu-sidebar {
  grid-column: 1;
  grid-row: 3 / 4;
}

.menu-item a {
  display: flex;
  flex-wrap: nowrap;
}

.info-sidebar {
  grid-column: 3;
  grid-row: 2 / -1;
  display: grid;
  grid-template-rows: subgrid;
}

.account-container {
  grid-row: 1;
}

.account-container a {
  display: flex;
  flex-wrap: nowrap;
}

.sidebar-section.announcements {
  grid-row: 2;
}

.sidebar-section.trending {
  grid-row: 3;
}

img[src$=svg] {
  filter: invert(70%);
}

a {
  color: inherit;
  text-decoration: none;
}
