/* THE LORD IS MY SHEPHERD, I LACK NOTHING */

@font-face {
  font-family: "Armata";
  src:
   url(./assets/fonts/Armata-Regular.woff) format("woff"),
   url(./assets/fonts/Armata-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Designer";
  src:
   url(./assets/fonts/DesignerRegular.woff) format("woff"),
   url(./assets/fonts/DesignerRegular.woff2) format("woff2");
}

:root {
  --fallback-font-stack:
    system-ui, -apple-system, BlinkMacSystemFont,'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --dark-bg-color-primary: #161515;
    --dark-bg-color-secondary: #0c0c0c;
    --dark-font-color: #dbd7d3;
    --dark-color-primary: #dbc397;
    --dark-color-secondary: #c2b391;
    --dark-color-3: #e1d9d2;
    --dark-color-4: #b2b2b2;
    --dark-lines-color: #3e3e3e;
    --dark-division-borders: 1px solid var(--dark-lines-color);
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
 }
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* End of CSS reset */

/* body * {
  border: 1px dotted #523714;
} */

body {
  background-color: var(--dark-bg-color-primary);
  color: var(--dark-font-color);
  font-family: Armata, var(--fallback-font-stack);
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 250px 1fr 300px;
  grid-template-rows: 80px 35px 1fr 1fr;
  height: 100vh;
}

header,
.project-nav,
.account-container,
.sidebar-section-name,
.announcement-card,
.trend-user-card,
.logo {
  border-bottom: var(--dark-division-borders);
}

.user-welcome-banner,
.project-control-buttons div,
main {
  border-left: var(--dark-division-borders);
}

main {
  border-right: var(--dark-division-borders);
}

.logo  {
  grid-column: 1;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a {
  align-items: center;
}

.logo img {
  height: 16px;
  width: auto;
  filter: 
    brightness(0) invert(85%) sepia(5%) saturate(900%) hue-rotate(350deg)
    contrast(70%);
}

.logo div {
  color: var(--dark-color-primary);
  font-family: Designer, var(--fallback-font-stack);
  font-size: 1.2rem;
  font-weight: bolder;
  transform: translateY(2px);
  margin-left: 5px;
}

header {
  grid-column: 2 / -1;
  grid-row: 1;
  display: grid;
  grid-template-columns: subgrid; 
}

header > div {
  display: flex;
}

.user-welcome-banner {
  grid-column: 1;
  align-items: center;
  padding-left: 20px;
}

.user-welcome-banner img {
  height: 50px;
  width: auto;
}

.user-welcome-banner > div {
  margin-left: 10px;
  padding-top: 10px;
}

.welcome-msg {
  font-size: 0.7rem;
}

.user-welcome-banner .user-name {
  font-size: 1.4rem;
  font-weight: bolder;
}

.notification-btn {
  grid-column: 2;
  justify-self: end;
  margin-right: 40px;
  align-items: center;
}

.notification-btn a {
  align-items: center;
}

.notification-btn img {
  height: 15px;
  width: auto;
  filter: invert(70%);
}

.notification-btn div {
  margin-left: 10px;
}

.logo a,
.notification-btn a,
.user-welcome-banner {
  display: flex;
  flex-wrap: nowrap;
}

.user-welcome-banner div:first-child {
  display: flex;
}

main {
  grid-column: 2;
  grid-row: 2 / -1;
  display: grid;
  grid-template-rows: 35px;
}

.project-nav {
  grid-row: 1;
  display: flex;
  align-items: center;
}

.search-input {
  flex: 1 0 150px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.search-input img {
  filter: invert(70%);
  height: 20px;
  width: auto;
}

input {
  appearance: none;
  border: none;
  background-color: var(--dark-bg-color-primary);
  color: var(--dark-font-color);
  width: 100%;
  padding-left: 10px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--dark-font-color);
  font-size: 0.8rem;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.project-control-buttons {
  height: 100%;
  display: flex;
}

.project-control-buttons div {
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.articles-grid {
  background-color: var(--dark-bg-color-secondary);
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, 200px);
  gap: 15px;
  padding: 20px;
}

.project-card {
  border: var(--dark-division-borders);
  background-color: var(--dark-bg-color-primary);
  padding: 20px;
}

.card-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.card-topbar > div {
  color: var(--dark-color-secondary);
  font-weight: bold;
}

.card-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-shrink: 0;
}

.card-buttons img {
  height: 15px;
  width: auto;
  filter: invert(60%);
}

.project-description {
  color: var(--dark-color-3);
  font-size: 0.9em;
}

.menu-sidebar {
  grid-column: 1;
  grid-row: 3 / 5;
  display: grid;
  grid-template-rows: subgrid;
}

.menu-list.primary {
  grid-row: 1;
  align-self: center;
}

.menu-list.secondary {
  grid-row: 2;
}

.menu-item {
  margin-bottom: 15px;
}

.menu-item a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.menu-item img {
  margin-right: 10px;
  filter: invert(70%);
}

.info-sidebar {
  grid-column: 3;
  grid-row: 2 / -1;
  display: grid;
  grid-template-rows: subgrid;
}

.account-container {
  grid-row: 1;
  font-size: 0.8rem;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.account-container a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: centeru;
}

.account-container img {
  height: 20px;
  width: auto;
  margin-right: 5px;
}


.account-container div:first-of-type {
  font-weight: bolder;
  margin-right: 5px;
  padding-right: 5px;
  border-right: var(--dark-division-borders);
}

.sidebar-section-name {
  color: var(--dark-color-secondary);
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 20px 0 5px 20px;
}

.sidebar-section.announcements {
  grid-row: 2;
}

.announcement-card {
  padding: 10px 20px;
}

.ann-card-title {
  color: var(--dark-color-3);
  font-size: 0.8rem;
  font-weight: bolder;
  margin-bottom: 5px;
}

.ann-card-content {
  color: var(--dark-color-4);
  font-size: 0.7rem;
}

.sidebar-section.trending {
  grid-row: 3;
  align-content: center;
}

.trend-user-card a {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin: 10px 20px;
}

.trend-user-card img {
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

.trend-user-name {
  font-weight: bold;
  color: var(--dark-color-3);
}

.trend-user-description {
  font-size: 0.7rem;
  color: var(--dark-color-4);
}

.user-name {
  color: var(--dark-color-secondary);
}

img[src$=jpg] {
  border: var(--dark-division-borders);
  border-radius: 15%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

/* HOVER ANIMATION  */

/* body div:hover {
  transition: 0.3s;
  transform: translateY(-2px);
  filter: brightness(130%);
} */